body{
    margin: 0px;

    background-color: black;
}
#red{
background-color: red;
}
#blue{
background-color:blue;
}
#green{
background-color: green;
}
#pink{
background-color: pink;
}
#orange{
background-color: orange;
}